/* Your custom css code goes here */
.stay-right{
    margin-right: 10%;
    float: right;
}

.stay-bottom-right{
    display: block;
    position: absolute;
    top: 89%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

.custom-card{
    display: block;
    height: 600px;
    background-color:#777e7b2a;
    border-radius: 1%;
}

.text-margins{

    padding-left: 10%;
    padding-right: 10%;
}

.small-icon{
    margin-top: 0.5%;
    margin-bottom: 0.5%;
    height: 20px;
    width: 20px;
}

.thin-nav{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin-left: 10%;
    z-index: 3;
}


.banner {
    background: #197a4d;
  }

.probootstrap-section-padding {
   padding: 7em 0;
   position: relative;
 }

 .h1-bold{
    font-family: "Raleway", Arial, sans-serif;
    text-align: center;
    font-weight: 400;
    font-size: 70px;
    margin-top: 10px;
 }

 .article-picture {
    width: 100%;
 }

 .article-picture-regular {
    width: 100%;
 }

 .article-picture-small {
    width: 100%;
 }

 .article-preview-overlay {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    margin-left: 47.5%;
    margin-top: 30%;
    height: 300px;
    width: 40%;
    padding: 40px 30px 30px 40px;
    background: rgba(255, 255, 255, 0.795);
    z-index: 2;
 }
 
 .article-preview-overlay-2 {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    margin-left: 47.5%;
    margin-top: 75%;
    height: 300px;
    width: 40%;
    padding: 40px 30px 30px 40px;
    background: rgba(255, 255, 255, 0.795);
    z-index: 2;
 }

 .main-column {
    width: 80%;
 }

 .rail{
     color: #000000;
 }
 .links{
     margin-bottom: 20px;
 }

 .title {
     font-size: 22px;
     font-weight: 800;
     margin-bottom: 10px;
 }

 .subtitle{
     font-size: 18px;
     font-weight: 500;
     
 }
 .shift-left{
     margin-left: -20px;
 }
 .side-rail {
    background: rgba(250, 247, 247, 0.226);
 }
 .article-image{
    width: 100%;
 }
 .article-preview-overlay-3 {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    margin-left: 47.5%;
    margin-top: 135%;
    height: 320px;
    width: 40%;
    padding: 40px 30px 30px 40px;
    background: rgba(255, 255, 255, 0.795);
    z-index: 2;
 }
 .medium-font {
    font-size: 28px;
    font-weight: bold;
 }

 a.custom-link:hover, a.custom-link:focus, a.custom-link:active  {
    color: #000000;
    text-decoration: underline;
 }

 .custom-link {
    color: #000000;
 }

 .article-content {
    color: #000000;
    font-size: 18px;
    margin: -10px 0px;
    line-height: 30px;
 }

 .article-content {
    color: #000000;
    font-size: 12px;
    line-height: 14px;
 }

 .spacer {
    height: 75px;

 }

 .spacer-small {
    height: 35px;

 } 
 .spacer-very-small {
    height: 20px;

 }
 .categories {
     
    text-align: center;
    width: 100%;
    font-size: 20px;
    font-weight: 300;
    margin-top: -20px;
 }

 .active-cat {
    color: #000000;
    font-weight: 600;
 }

 .category {
    cursor: pointer;

    display: inline;
    white-space: nowrap;
    padding: 30px;
 }
 .dot {
    display: inline;
    white-space: nowrap;
    font-weight: 600;
 }
